.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  padding-left: 64px;
  font-size: 28px;
  line-height: 36px;
  background: url(../images/logo.svg) no-repeat left center/contain;
  cursor: pointer;
}
.header__button {
  visibility: hidden;
  cursor: pointer;
}
.header__button.active {
  visibility: visible;
}

.button {
  align-items: center;
  height: 40px;
  padding: 0 8px;
  border: 1px solid var(--border);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  color: var(--text-h);
  background-color: #FFF3C4;
  cursor: pointer;
}
.button .feather {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}
.button--primary {
  background-color: var(--accent);
  color: #fff;
}
.button--transparent {
  background-color: transparent;
  color: var(--text);
  border: 0;
}

.chip {
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 10px;
  border: 1px solid var(--border);
  border-radius: 18px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--text);
  font-weight: 500;
  background-color: #FFF3C4;
}
.chip--primary {
  background-color: var(--accent);
  color: #fff;
}
.chip--transparent {
  background-color: transparent;
  color: var(--text);
  border: 0;
}

.card {
  position: relative;
  width: calc(33.3333333333% - 20px);
  min-width: 200px;
  border: 1px solid var(--border);
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}
.card__image {
  width: 100%;
  height: 120px;
  background-color: #FFF3C4;
}
.card__content {
  padding: 10px;
  text-align: left;
}
.card__content__title {
  font-size: 24px;
  margin-bottom: 0;
}
.card__content__time {
  font-size: 14px;
  color: var(--text);
  line-height: 16px;
}
.card__content__time .feather-clock {
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
.card__content__chipList {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 9px;
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  padding: 10px 16px;
  border: 1px solid var(--border);
  border-radius: 20px;
  background-color: #fff;
}
.search .feather {
  width: 16px;
  height: 16px;
  color: #8C7A00;
}
.search__input {
  width: calc(100% - 40px);
  height: 22px;
  border: none;
  outline: none;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-h);
  background-color: transparent;
}
.search__button {
  display: none;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
}
.search__button.active {
  display: block;
}

.input {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  font-size: 14px;
  color: var(--text);
  background-color: #fff;
}
.input__label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #8D8148;
}
.input .feather {
  width: 16px;
  height: 16px;
  color: #8C7A00;
}
.input__input {
  width: calc(100% - 19px);
  height: 22px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-h);
  background-color: transparent;
}
.input__button {
  display: none;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
}
.input__button.active {
  display: block;
}

.textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  font-size: 14px;
  color: var(--text);
  background-color: #fff;
}
.textarea__input {
  width: 100%;
  height: 100%;
  min-height: 120px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-h);
  background-color: transparent;
  resize: none;
}

.kebab__wrapper {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 100;
  text-align: right;
  cursor: pointer;
}
.kebab__wrapper .kebab__menu {
  position: absolute;
  top: 30px;
  right: 10px;
  padding: 4px;
  border: 0.5px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}
.kebab__wrapper .kebab__menu .kebab__item {
  width: 100px;
  padding: 7px 12px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
}
.kebab__wrapper .kebab__menu .kebab__item--danger {
  color: #ff4d4f;
}
.kebab__wrapper .kebab__menu .kebab__item:hover {
  background-color: var(--bg);
}/*# sourceMappingURL=components.css.map */